<footer id="colophon" class="site-footer clearfix" role="contentinfo">
    <div class="site-info clearfix">
        <div class="container">
            <div class="copyright">Copyright &copy; 2020 <a href="{{ site.url }}/{{ site.baseurl }}" title="{{ site.title }}" ><span>{{ site.title }}</span></a>
                <nav role="navigation">
                    {% assign pages = site.pages | where: 'nav', 'footernav' | sort: 'nav-order' %}
                    {% for item in pages %}
                    | <a class="{% if page.url contains item.url %} current-menu-item{% endif %}" href="{{ site.baseurl }}{{ item.permalink }}">{% if item.nav-title %}{{ item.nav-title }}{% else %}{{ item.title }}{% endif %}</a>
                    {% endfor %}
                </nav>
            </div><!-- .copyright -->
        </div><!-- .container -->
    </div><!-- .site-info -->
    <div class="back-to-top"><a title="Go to Top" href="#masthead"></a></div><!-- .back-to-top -->
</footer><!-- #colophon -->
