<footer id="colophon" class="site-footer clearfix" role="contentinfo">
    <div class="site-info clearfix">
        <div class="container">
            <div class="copyright">Copyright &copy; 2017 <a href="{{ site.url }}/{{ site.baseurl }}" title="{{ site.title }}" ><span>{{ site.title }}</span></a> | Theme adapted from: <a href="http://themehorse.com" target="_blank" title="Theme Horse" ><span>Theme Horse</span></a>
            </div><!-- .copyright -->
        </div><!-- .container -->
    </div><!-- .site-info -->
    <div class="back-to-top"><a title="Go to Top" href="#masthead"></a></div><!-- .back-to-top -->
</footer><!-- #colophon -->
