<style type="text/css">
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 5vh auto;
    padding: 0 !important;
    max-width: 767px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;
	max-height: 80vh;
	overflow: auto;
}

.popup h3 {
    padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #0094aa;
}
.popup .content {
    margin: 20px;
    overflow: auto;
}
.popup .content input, .popup .content textarea , .popup .content select , .popup .content button {
    margin: 0 0 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	width: 100%;
	background-color: #f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.popup .content button {
    background-color: #0094aa;
    color: #fff;
    text-transform: uppercase;
}
.popup .content label span {
    font-weight: bolder;
}
@media screen and (max-width: 767px){
  .popup{
    width: 100%;
	height: 100vh;
	max-height: 100vh;
	margin: 0;
  }
}
</style>
<a href="#form" class="readmore">{{ include.button | default: 'Individuelle Anfrage' }}</a>
<div id="form" class="overlay">
    <div class="popup container">
        <h3>{{ include.caption | default: 'Individuelle Anfrage' }}</h3>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <form accept-charset="UTF-8" action="https://form.schuerholz.it/form.php?token=b2721ffeb48cf6634c39d6177b682c66&r=dev.schuerholz.it" method="POST">
                <label>
                    <span>Name</span>
                    <input type="text" name="name" placeholder="Erika Mustermann" required="required" />
                </label>
                <label>
                    <span>E-Mail</span>
                    <input type="email" name="email" placeholder="erika@mustermann.de" required="required" />
                </label>
                <label>
                    <span>Thema der Anfrage</span>
                    <select name="thema" required="required">
                        <option disabled="disabled" selected="selected">Thema</option>
                        <option>Webentwicklung</option>
                        <option>Webhosting / E-Mail</option>
                        <option>Netzinfrastruktur</option>
                        <option>Systemkonfiguration</option>
                        <option>Supportfragen</option>
                        <option>Anderes</option>
                    </select>
                </label>
                <label>
                    <span>Anfragetext</span>
                    <textarea rows="5" name="anfrage" placeholder="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." required="required"></textarea>
                </label>
                <input type="hidden" name="utf8" value="✓">
                <button type="submit" class="readmore">Absenden</button>
            </form>
        </div>
    </div>
</div>
