---
layout: default
---
<div id="page">

    {% include header.html %}

    <div id="content">
        <div class="container clearfix">
            {% if page.widget %}
            <div id="primary">
            {% endif %}
            <div id="main">
                <div class="type-page">
                    <div class="entry-content">
                        {{ content }}
                    </div>
                </div>
            </div>
            {% if page.widget %}
            </div>
            <div id="secondary">
                {% for widget in page.widget %}
                {% assign widgets = [] %}
                {% assign type = widget.type %}
                {% if type == "ref" %}
                    {% assign widgets = site.data.widgets.widget | where: 'key', widget.key %}
                    {% assign type = widgets[0].type %}
                {% endif %}
                {% if widget.title %}
                    {% assign title = widget.title %}
                {% else %}
                    {% assign title = widgets[0].title %}
                {% endif %}
                {% if widget.content %}
                    {% assign content = widget.content %}
                {% else %}
                    {% assign content = widgets[0].content %}
                {% endif %}
                <aside class="widget">
                    {% if title %}<h3 class="widget-title">{{ title }}</h3>{% endif %}
                    {% if type == "nav" %}
                    <ul>
                        {% assign pages = site.pages | where: 'nav', content | sort: 'nav-order' %}
                        {% for item in pages %}
                        <li><a class="{% if page.url contains item.url %} current-menu-item{% endif %}" href="{{ site.baseurl }}{{ item.permalink }}">{% if item.nav-title %}{{ item.nav-title }}{% else %}{{ item.title }}{% endif %}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <div>
                        {{ content }}
                    </div>
                    {% endif %}
                </aside>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div><!-- #content -->
    {% if page.picture %}
    <div style="background-image: url('{{ site.baseurl }}/images/{{ page.picture }}'); background-position-y: {{ page.picture-pos }};" class="header-image"></div>
    {% endif %}

    {% include footer.html %}
</div><!-- #page -->
