---
layout: page
---
<style type="text/css">
.tile {
    display: inline-block;
    width: 30%;
    min-width: 340px;
    margin: 30px auto;
    vertical-align: top;
    text-align: center;
    text-align-last: center;
}
.tile i {
    font-size: 50px;
    color: {{ site.style.color }};
}
.tile h3 {
    padding-top: 20px;
}
.tile > :first-child {
    padding-top: 0;
    margin-top: 0;
}
#tiles {
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
    margin-top: -30px;
}
</style>
<p>{{ page.intro }}</p>
<div id="tiles">
    {{ content }}
</div>
